<section class="account-list-container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Accounts</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button class="account-list__add-btn" matButton="tonal">+ Add</button>
    </mat-card-actions>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-content>
      @if (error(); as errorMessage) {
      <span class="error-message">{{ errorMessage }}</span>
      } @else {
      <mat-list>
        @for (account of accounts(); track $index) {
        <mat-list-item>
          <mat-icon matListItemIcon>folder</mat-icon>
          <div matListItemTitle class="account-card-content">
            <div class="account-name">{{ account.name }}</div>
            <div class="account-type">{{ account.type }}</div>
            <span class="account-amount">{{ account.amount | currency }}</span>
          </div>
          <div matListItemMeta>
            <button matIconButton><mat-icon>edit</mat-icon></button>
          </div>
        </mat-list-item>

        @if (accounts().length - 1 !== $index) {
        <mat-divider />
        } }
      </mat-list>
      }
    </mat-card-content>
  </mat-card>
</section>
