<h2 mat-dialog-title>Edit account</h2>
<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content class="account-edit-form">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text" cdkFocusInitial />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Account Type</mat-label>
      <mat-select formControlName="type">
        @for (option of accountTypeOptions; track $index) {
        <mat-option [value]="option.value">{{ option.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    @if (!isEditMode) {
    <mat-form-field appearance="fill">
      <mat-label>Start amount</mat-label>
      <input
        matInput
        formControlName="amount"
        type="text"
        inputmode="decimal"
        pattern="^\d+(\.\d{1,2})?$"
      />
    </mat-form-field>
    }
  </mat-dialog-content>

  <mat-dialog-actions>
    <button matButton mat-dialog-close>Cancel</button>
    <button matButton type="submit" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</form>
